#jobtableMainContent{
    width: 100%;
    height: 100%;
    overflow: auto;    
}

.currentMonth{
    width: 168px;
    height: 31px;
    display: inline;
}

.custom-select{
    background: none !important;
}

.dataTable{
    width: 100% !important;
    background-color: white;
}

td {
    height: 10px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    
 }


.table-input{
    height: 30px;
}

.table-select{
    height: 30px;
    padding-top: 2px;
}

.dt-body-right {
    text-align: right;
}

.dt-body-center {
    text-align: center;
}

.checkbox-label {
    background-color: $maincolor;
    color: $accentColor;
    
    border-radius: 25px;
    
    cursor: pointer;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
  }

.offset {
    outline-offset :3px;
}
.pseudo {position:relative;}
.pseudo:after {
    content:'';
    position:absolute;
    top:-6px;
    left:-6px;
    width:100%;
    height:100%;
    padding:3px;
    border-color: transparent;
    border-style: solid;
    border-radius:inherit;
    box-sizing: unset;
}
.offset:after {
    top: -5px;
    left: -5px;
    padding: 2px;
}
  
  /* Hide the browser's default checkbox */
  .checkbox-label input {
    display: none;
  }
  
  
  /* Show the checkmark when checked */
  .checkbox-checkmark:checked ~ .pseudo:after {
    border-color: $maincolor;
  }
  .checkbox-checkmark {
      display: none;
  } 

  .checkbox-container {
      float: left;
      margin-right: 10px;
  }
  
  
//   /* Style the checkmark/indicator */
//   .checkbox-label .checkmark:after {
//     left: 9px;
//     top: 5px;
//     width: 5px;
//     height: 10px;
//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
