@media (max-width: 720px){
    .collapsedText {
      display: none;
  }
}

.navbar-forground {
  color: $accentColor !important;
}

.navbar-forground-logo {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}

.nav-link {
  margin-left: 14px;
}
.nav-link:hover {
  background-color: $maincolorAccent;
}

.nav-link-icon {
  margin-right: 5px;
}