@media (max-width: 995px){
    .collapsedText {
      display: none;
  }
}

.navbar-forground {
  color: $accentColor !important;
}

.navbar-forground-logo {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}

.navbar-nav-left > .nav-item {
  padding-left: 8px;
  padding-right: 8px;
}

.nav-item:hover {
  background-color: $maincolorAccent;
}

.nav-link-text {
  margin-left: 6px;
}