@media (max-width: 720px){
    .collapsedText {
      display: none;
  }
}

.navbar-forground {
  color: $accentColor !important;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}