@media (max-width: 920px){
    .collapsedBySize {
      display: none;
    }
    .visibleBySize {
      display: inline-block !important;
    }
    .growBySize {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
}

.timerListContent {
  padding-top: 42px;
}

.selectize-input {
  height: 31px !important;
  min-height: 31px !important;
  padding-top: 3px !important;
}

.selectize-control {
  padding: 0px;
  height: 31px;
}

.timer-second-row {
  height: 24px;
  margin-top: 5px;
  display: inline-block;
}

.ticket-icon {
  color: $maincolor;
}

.ticket-button {
  cursor: pointer;
  margin-left: 5px;
}

.ticket-button:hover {
  color: $highlightcolor;
}

.ticket-button-stack {
  @extend .ticket-button;
  font-size: 0.53em;
  margin-top: -2px;
}

.duration-icon:hover {
  color: $highlightcolor;
}

.job-duration-button:hover * {
  text-decoration: none;
  border-color: $accentColor;
  outline: 0;
  color: $highlightcolor !important;
}

.job-duration {
  color: black;
}

.job-duration:hover {
  text-decoration: none;
  color: $highlightcolor !important;
}

.visibleBySize {
  display: none;
}


.timer-btn .timer-play-btn{
  display: inline-block;
}

.timer-btn.active .timer-play-btn{
  display: none;
}

.timer-btn .timer-pause-btn{
  display: none;
}

.timer-btn.active .timer-pause-btn{
  display: inline-block;
}

.timer-btn-disabled {
  background-color: $maincolorDisabled;
}


.text-input-job{
  box-shadow: none !important;
  padding: .25rem .5rem !important;
}

.text-input-todo-ticket {
  box-shadow: none !important;
  padding: .25rem .5rem !important;
  width: 100%;
  height: 31px;
}

.static-entry-container {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.static-entry {
  width: 100%;
  border-radius: 0.5rem !important;
  background-color: rgba(255,255,255,0.75) !important;
  text-align: center;
  padding: 10px;
}

.static-entry-text {
  margin: 0px !important;
  font-weight: bold;
}

.static-entry-icon {
  margin-right: 10px;
}

.static-entry-overlay {
  position: absolute;
  width: calc(100% - 16px);
  border-radius: 0.5rem !important;
  background-color: $maincolor;
  display: none;
  padding: 10px;
  text-align: center;
  color: $accentColor;
}

.static-entry-overlay:hover {
  display: block;
}

.static-entry-container:hover > .static-entry-overlay {
  
  display: block;
}


.job-list-item{
  margin: 8px;
  border-radius: 0.5rem !important;
  background-color: rgba(255,255,255,0.75) !important;
  border-width: 0;
}

.job-container {
  margin-top: 14px;
}

.currentEntry {
  box-shadow: 0 0 0 2px $highlightcolor inset;
}

.hLine {
  background-color: $maincolor;
  width: 100%;
  height: 2px;
  display: block;
  margin-top: 4px;
  margin-bottom: 1px;
}

.btnDateChange {
  margin: 3px;
  width: 30px;
  height: 30px;
  padding: 2px;
}

.btnDateChange:focus{
  background-color: $maincolor !important;
  border-color: gray !important;
}

.dateSelector {
  border-bottom: $maincolor;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  height: 40px;
  text-align: center;
  vertical-align: text-top;
  background-color: rgba(255,255,255,0.75);
  width: 100%;
  position: fixed;
  z-index: 10;
}

.currentDate {
  cursor: pointer;
  margin: auto;
  vertical-align: text-top;
  width: auto;
  font-size: 20px;
  border: 0px;
  width: 110px;
  background-color: rgba(255,255,255,0);
}

.datepicker {
  z-index: 9999999;
}

.datepicker--day-name {
  color: $maincolor;
}

.noteTextArea{
  height: 150px;
  resize: none;
}

.inputName{
  font-size: small;
}

.label-placeholder {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 0;
  font-size: 16px;
  margin: 4px;
  padding: 0 .5rem;
  -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  transition: top .2s ease-in-out,  font-size .2s ease-in-out;
}
 
.label-placeholder.active {
  top: -24px;
  font-size: 14px;
  padding-left: 3px;
  margin-left: 0px;
}

.label-placeholder-static {
  z-index: 1;
  position: absolute;
  top: -24px;
  font-size: 14px;
  padding-left: 3px;
  margin-left: 0px;
}

.selectize-dropdown [data-selectable].option {
  border-bottom: $maincolorOpacitiy;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.selectize-dropdown-content {
  max-height: 400px !important;
}

.selectize-input>* {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 30px);
}

.selectize-input {
  padding-right: 40px !important;
}

.issueNumber {
  font-weight: bold;
}

.job-seperator-container {
  width: 100%;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.job-seperator-text {
  float: left;
  background-color: $maincolor;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  white-space: nowrap;
}

.job-seperator {
  float: left;
  width: 100%;
  align-self: center;
  background-color: $maincolor;
  height: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.todo-btn {
  font-size: 14px;
  padding: 4px 8px;
}

.vertical-seperator {
  margin-left: 15px;
  margin-right: 15px;
  width: 1px;
  height: 100%;
  background: $maincolor;
}
