$footerHeight: 30px;
$buttonSize: 20px;
$chartHeight: 250px;
$navbar-height: 40px;
$maincolor: #222E83;
$maincolorAccent: #343d81;
$maincolorOpacitiy: #222d8380;
$accentColor: white;
$secondcolor: lighten( $maincolor, 50% );
$graycolor: #bfbfbf;
$highlightcolor: #E65C00